{% extends 'base.html' %} 

{% block content %}
{% load static%}
<!DOCTYPE html>
<html>
<head>
  <title> Hospital Management System </title> 
<style>

  .container {
    position: fixed;
    top: 45px; /* Adjust this value to match your navigation bar height */
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('{% static "front_picture.jpg" %}') no-repeat center center fixed; 
    background-size: cover;
  }

  .container img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }
  </style>
  
</head>
<body>


<div class="container"> 



</div> 

</body>
</html>
{% endblock content %}